*{
    margin: 0;
    padding: 0;
}
body {
    margin-top: 5em;
    background: rgb(46, 43, 43);
}

@font-face {
    font-family: "cook";
    src: url(cook/Cookie-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "shadow";
    src: url(shadow/ShadowsIntoLight-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
ul{
    background: black;
    font-family: "cook";
    list-style: none;
    width: 100%;
    padding: 1em;
    text-align: center;
    position: fixed;
    top: 0;
}
ul li {
    display: inline-block;
    margin-right: 1em;
}
ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    padding: 0.2em;
}
ul li a:hover {
    color: black;
    /*border-bottom: 3px solid #fff;*/
    /*border: 1px solid #fff;*/
    background: white;
    border-radius: 10px;
}
